{% include 'main.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
<main class="px-12 w-fit py-10 flex flex-col bg-gray-200 my-10 rounded-2xl justify-center items-center m-auto mt-20">
    <h1 class="capitalize text-3xl">Register An Account</h1>
    <form method="post" action="" class="mt-10 flex flex-col gap-8">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="px-6 py-2 bg-blue-700 text-white rounded-lg font-semibold">Register</button>
        <a href="{% url 'login' %}" class="text-blue-400 underline m-auto">Already Have An Account? Login</a>
    </form>
</main>
{% endblock content %}