{% include 'main.html' %}

{% block content %}
<section class="w-[800px] m-auto mt-10 flex flex-col justify-center items-center my-10">
{% for blog in blogs %}

<a href="{% url 'single-blog' blog.id %}" class="border-b-2 px-10 py-5">
    <h1 class="text-xl font-semibold">{{ blog.title|truncatechars:50 }} <span class="text-sm font-medium">Created At: {{ blog.createdAt|date:"d M y" }}</span></h1>
    <p class="mt-4">{{ blog.body|truncatechars:255 }}</p>
</a>

{% endfor %}
<div class="pagination mt-5">
    <span class="step-links flex gap-4">
        {% if page_obj.has_previous %}
            <a class="px-4 py-2 bg-blue-600 text-white rounded-lg" href="?page=1">&laquo; first</a>
            <a class="px-4 py-2 bg-blue-600 text-white rounded-lg" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current px-4 py-2 bg-blue-400 text-white rounded-lg">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="px-4 py-2 bg-blue-600 text-white rounded-lg" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="px-4 py-2 bg-blue-600 text-white rounded-lg" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</section>
{% endblock content %}